.reasons {
    background-color: rgb(114, 88, 88);
    padding: 10px;
    list-style:circle;
    color:white;
    border-radius: 10px;
}

.intro h1, h2, h3 {
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

