.schedule-table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    margin: 0px auto;
}


.schedule-table caption {
    font-size: 20px;
    margin: 10px 0;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(26, 26, 26);
    color: white;
}


.schedule-table th {
    background-color: rgb(88, 87, 87);
    color: wheat;
    padding: 15px;
    font-weight: 600;

}